# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Temp\object_detection_demo_flow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
